Part I

Read the CSV file "US_births_1994-2003_CDC_NCHS.csv" into a string.
Split the string on the newline character ("\n").
Display the first 10 values in the resulting list.

In [45]:
file = open('US_births_1994-2003_CDC_NCHS.csv', 'r')
f = file.read()
print(f[0:495])

year,month,date_of_month,day_of_week,births
1994,1,1,6,8096
1994,1,2,7,7772
1994,1,3,1,10142
1994,1,4,2,11248
1994,1,5,3,11053
1994,1,6,4,11406
1994,1,7,5,11251
1994,1,8,6,8653
1994,1,9,7,7910
1994,1,10,1,10498
1994,1,11,2,11706
1994,1,12,3,11567
1994,1,13,4,11212
1994,1,14,5,11570
1994,1,15,6,8660
1994,1,16,7,8123
1994,1,17,1,10567
1994,1,18,2,11541
1994,1,19,3,11257
1994,1,20,4,11682
1994,1,21,5,11811
1994,1,22,6,8833
1994,1,23,7,8310
1994,1,24,1,11125
1994,1,25,2,11981
1994,1,26,3,11514

In [3]:
f_split = f.split('\n')
f_split[0:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

Part II

In [4]:
def read_csv(input_file):
    file = open(input_file, 'r').read().split('\n')
    string_list = file[1:]
    final_list = []
    for line in string_list:
        string_fields = line.split(',')
        int_fields = []
        for each in string_fields:
            int_fields.append(int(each))
        final_list.append(int_fields)
    return final_list

cdc_list = read_csv('US_births_1994-2003_CDC_NCHS.csv')
cdc_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [43]:
file = open('US_births_1994-2003_CDC_NCHS.csv').read().split('\n')
final_list = []
for lines in file:
    string_field = lines.split(',')
    final_list.append(string_field)
final_list[0:10]
# find out what is string_field

[['year', 'month', 'date_of_month', 'day_of_week', 'births'],
 ['1994', '1', '1', '6', '8096'],
 ['1994', '1', '2', '7', '7772'],
 ['1994', '1', '3', '1', '10142'],
 ['1994', '1', '4', '2', '11248'],
 ['1994', '1', '5', '3', '11053'],
 ['1994', '1', '6', '4', '11406'],
 ['1994', '1', '7', '5', '11251'],
 ['1994', '1', '8', '6', '8653'],
 ['1994', '1', '9', '7', '7910']]

PART III

In [23]:
def month_birth(input_lst):
    birth_per_month = {}
    for lst in input_lst:
        month = lst[1]
        num = lst[4]
        if month not in birth_per_month:
            birth_per_month[month] = num
        else:
            birth_per_month[month] += num
    return birth_per_month

cdc_month_births = month_birth(cdc_list)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

PART IV

In [6]:
def dow_birth(input_lst):
    birth_per_day_of_week = {}
    for lst in input_lst:
        day = lst[3]
        num = lst[4]
        if day not in birth_per_day_of_week:
            birth_per_day_of_week[day] = num
        else:
            birth_per_day_of_week[day] += num
    return birth_per_day_of_week

cdc_day_birth = dow_birth(cdc_list)
cdc_day_birth

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

PART V

In [8]:
def calc_counts(data, column):
    birth_per_timestamp = {}
    for lst in data:
        date = lst[column]
        num = lst[4]
        if date not in birth_per_timestamp:
            birth_per_timestamp[date] = num
        else:
            birth_per_timestamp[date] += num
    return birth_per_timestamp

cdc_year_births = calc_counts(cdc_list, 0)
cdc_month_births = calc_counts(cdc_list, 1)
cdc_dom_births =  calc_counts(cdc_list, 2)
cdc_dow_births =  calc_counts(cdc_list, 3)

In [9]:
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [10]:
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [11]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [34]:
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

PART VI

In [48]:
'''def min_value(input_dict):
    smallest = None
    for key in input_dict:
        if smallest is None:
            smallest = input_dict[key]
        elif smallest > input_dict[key]:
            smallest = input_dict[key]
    return smallest
minimum = min_value(cdc_dow_births)
print(minimum)'''

4079723

In [13]:
#first question
def min_max(input_dict):
    minimum = None 
    maximum = None
    for key in input_dict:
        if minimum == None or minimum > input_dict[key]:
            minimum = input_dict[key]
        if maximum == None or maximum < input_dict[key]:
            maximum = input_dict[key]
    return {'minid':minimum, 'maxid':maximum} 
#remember return is at the end of the loop

            
min_max_val = min_max(cdc_dow_births)
print(min_max_val)

{'maxid': 6446196, 'minid': 4079723}

In [33]:
#second question
#[1994, 1, 1, 6, 8096]
# calculate the births on year_weekofday
def birth_of_yrdy(data, year, day):
    births = 0
    for lst in data:
        if (lst[0] == year and lst[3] == day):
            births = births + lst[4]
    return births

birth_of_1994_7 = birth_of_yrdy(cdc_list, 1994, 7)
print(birth_of_1994_7)

428752

In [38]:
## Write a function that extracts the same values across years and
   #calculates the differences between consecutive values to show 
    #if number of births is increasing or decreasing

def diff_birth(data, year1, year2, column, value):
    births1 = 0
    births2 = 0
    for lst in data:
        if (lst[0] == year1 and lst[column] == value):
            births1 += lst[4]
        elif (lst[0] == year2 and lst[column] == value):
            births2 += lst[4]
    return{'b1':births1, 'b2':births2, 'change':births1-births2}

birthdiff = diff_birth(cdc_list, 1994, 2003, 3, 6)
print(birthdiff)

{'b2': 447445, 'change': 27287, 'b1': 474732}

col 0 = year
col 1 = month
col 2 = day
col 3 = week of day